$header-height: 50px;

.msbox{
    position: relative;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &.close{
        display: none;
    }
    .msbox-overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.5;
    }
    .msbox-main-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        width: 50%;
        height: 50%;
        background-color: white;
        border-radius: 0.5rem;
        opacity: 0;
        .msbox-main-content-hader{
            width: 100%;
            height: $header-height;
            background-color: rgb(216, 216, 216);
            border-radius: 0.5rem 0.5rem 0 0;
        }
        .msbox-content-header-title{
            display: flex;
            align-items: center;
            height: 100%;
            margin-left: 1rem;
            font-size: larger;
            color: rgb(32, 32, 32);
        }
        .msbox-main-content-close{
            cursor: pointer;
            color: white;
            font-size: 2rem;
            line-height: 2rem;
            position: absolute;
            top: 0.2rem;
            right: 0.8rem;
            font-weight: 600;
            &.none-header{
                color: gray;
            }
        }
        .msbox-main-content-body{
            padding: 0.2rem 0.5rem 0.2rem 0.5rem;
        }
    }
    &.open{
        .msbox-main-content{
            opacity: 1;
        }
    }
}
